@font-face {
  font-family: "RampartOne";
  src: url("./src/fonts/RampartOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SquadRegular";
  src: url("./src/fonts/SquadRegular.ttf") format("truetype");
}
/* шаблоны ====================================*/
.dfCC {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 20px;
  font-size: 30px;
}

.vh {
  height: 100vh;
}
.cp {
  cursor: pointer;
}
/* ================================= */

* {
  margin: 0;
  padding: 0;
}

.body {
  background: linear-gradient(to bottom left, #262626, #515151, #262626);
  box-shadow: inset 0px 0px 10px #000000, inset 0px 0px 50px #000000,
    inset 0px 0px 100px #000000;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #222;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  /* background-color: #df1818; */
  height: 50px;
  /* width: 500px; */
  color: #a19d9d;
  font-size: 30px;
  justify-content: flex-start;
  font-family: "RampartOne";
  /* text-shadow: 2px 2px 20px #fff; */
}
.navigation button {
  border-radius: 50%;
  padding: 3px;
  background-color: #222;
  height: 40px;
  width: 40px;
  box-shadow: inset 0px 0px 17px #ffffff4d, 0px 0px 3px #ffffff9e, 4px 3px 5px,
    -2px -1px 5px #8b8686;
  margin-right: 1vw;
}

.main-page {
  height: 100vh;
  flex-direction: column;
  gap: 2vh;
}
.main-page button {
  background-color: #a19d9d;
  width: 30%;
}

/* ////////////////////////////////////////////// */
.round-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.category {
  /* background-color: white; */
  width: 15vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vh;
}
.category p {
  height: 70px;
  background-color: #e1bb73;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 4px 3px 5px, -2px -1px 5px #8b8686;
}

.exerciseBtn {
  height: 60px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 4px 3px 5px, -2px -1px 5px #8b8686;
  cursor: pointer;
  background-color: #c7c2c7;
}

.exerciseBtn:hover {
  background-color: #f3f340;
  box-shadow: 4px 3px 5px, -2px -1px 5px #8b8686, 0px 0px 10px #f3f340,
    0px 0px 20px #f3f340, 0px 0px 40px #f3f340;
  border: 2px solid #ffff99;
}
/* ////////////////////////////////////////////// */
.question {
  flex-direction: column;
  justify-content: space-around;
  gap: 3vh;
}
.return-round-1-btn {
  position: absolute;
  left: 1vw;
  border-radius: 50%;
  padding: 3px;
  background-color: #222;
  height: 40px;
  width: 40px;
  box-shadow: inset 0px 0px 17px #ffffff4d, 0px 0px 3px #ffffff9e, 4px 3px 5px,
    -2px -1px 5px #8b8686;
}

.question__img {
  margin-top: 10vh;
  height: 30%;
  width: auto;
  /* background-color: #fff; */
  background-color: unset;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 3px 5px, -2px -1px 5px #8b8686;
}

.question__img img {
  max-height: 120%;
}

.question__p {
  font-family: "RampartOne";
  font-size: 4vh;
  color: #c0c0c0;
}
.options {
  height: 40vh;
  width: 80%;
  /* background-color: #fff; */
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1vw;
  margin-bottom: 6vh;
}
.options-btn {
  height: 65%;
  width: 80%;
  cursor: pointer;
  font-family: "RampartOne";
  font-size: 5vh;
  color: #f7ff8b;
  background-color: unset;
  border-radius: 25px;
  box-shadow: inset 5px 3px 11px;
}

.options-btn:hover {
  background-color: #fff27e54;
  border: 2px solid #efff00;
  box-shadow: inset 0px 0px 30px #fff27e, 0px 0px 8px #fff27e,
    0px 0px 16px #fff27e, 0px 0px 32px #fff27e;
  color: black;
}

.timer {
  position: absolute;
  bottom: 0;
}
.timer-substrate {
  height: 95%;
  width: 95%;
  background-color: #313131;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 2px 2px 10px #ffffff, 4px 3px 5px, -2px -1px 5px #8b8686;
}
.progress-ring {
  z-index: 2;
}
.timer-cover {
  height: 80%;
  width: 80%;
  background-color: #404040;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 10px -10px 25px #ffffff6e;
}

.progress-ring__circle {
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 1s;
}

.timer__p {
  position: absolute;
  color: #fff900;
  /* font-weight: bold; */
  font-size: 50px;
  /* text-shadow: 2px -2px 3px #ffffff38, -4px 2px 3px #000000e8; */
  /* text-shadow: 0px 0px 2px #fff900, 0px 0px 6px #fff900, 0px 0px 15px #fff900; */
  font-family: "SquadRegular";
}

.timer__audio {
  position: fixed;
  right: 0;
  display: none;
}

.showImag {
  position: absolute;
  z-index: 10;
  height: auto;
  width: 85%;
  background-color: thistle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 100px #000, 0px 0px 200px #000, 0px 0px 300px #000;
}

.hide {
  display: none;
}
